input[type=text] {
  min-height: 21px;
}

.error-message {
  font-size: 13px;
  line-height: 1.5;
  color: red;
}

.status_list {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.status_list > li {
  display: inline-block;
}

